RewriteEngine On

AddType application/manifest+json .webmanifest
AddType application/javascript .js

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ index.php [QSA,L]
